@font-face {
  font-family: 'cantiquenormal';
  src: url('../web/cantique-normal-webfont.woff2') format('woff2'),
       url('../web/cantique-normal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'cantiquenormal', monospace;
}

.container {
  padding: 1em;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.68em;
}