* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  height: 20%;
}

main {
  height: 80%;
  background: smoke;
}

.container {
  display: flex;
  justify-content: space-around;

  list-style: none;
  background: tomato;
  line-height: 60px;
}

.container a {
  text-decoration: none;
  color: white;
}

li {
  padding: 0 40px;
}

li:hover {
  animation: changeMe 3s ease-in-out .2s;
}

@keyframes changeMe {
  0% {
    background-color: tomato;
  }
  50%{
    background-color: #CC0000;
  }
  75%{
    background-color: #800000;
  }
  100% {
    background-color: tomato;
  }
}